<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="nav-menu">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/news">News</a>
    <a href="/categories">Categories</a>
    <a href="/user">User List</a>
</div>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<h1>Ninh Binh Photo Gallery</h1>
<div class="gallery">
    <!-- Hàng 1 -->
    <img src="https://c1.wallpaperflare.com/preview/778/132/18/trang-an-bai-dinh-ninh-binh-province-vietnam.jpg" alt="Ninh Binh Photo 1">
    <img src="https://onevivu.vn/wp-content/uploads/2020/09/Tam-Coc-Ninh-Binh-1-1.jpg" alt="Ninh Binh Photo 2">
    <img src="https://c1.wallpaperflare.com/preview/348/680/5/trang-an-bai-dinh-ninh-binh-province-landscape.jpg" alt="Ninh Binh Photo 3">

    <!-- Hàng 2 -->
    <img src="https://kenhhomestay.com/wp-content/uploads/2017/11/36440735185_67b45b9c2c_b.jpg" alt="Ninh Binh Photo 4">
    <img src="https://media.istockphoto.com/id/506935861/vi/anh/c%C3%A1nh-%C4%91%E1%BB%93ng-l%C3%BAa-v%C3%A0-s%C3%B4ng-%E1%BB%9F-ninh-t%C3%A2n-vi%E1%BB%87t-nam.jpg?b=1&s=612x612&w=0&k=20&c=Tg-wH2JL2zzYePf1_HfAyv7qOLP0umGd9yVPI0rdTuA=" alt="Ninh Binh Photo 5">
    <img src="https://cdn.pixabay.com/photo/2018/11/06/15/12/security-affairs-3798495_1280.jpg" alt="Ninh Binh Photo 6">

    <!-- Hàng 3 -->
    <img src="https://top10ninhbinh.com/wp-content/uploads/2022/10/anh-ninh-binh-2.jpg" alt="Ninh Binh Photo 7">
    <img src="https://media.istockphoto.com/id/506935861/vi/anh/c%C3%A1nh-%C4%91%E1%BB%93ng-l%C3%BAa-v%C3%A0-s%C3%B4ng-%E1%BB%9F-ninh-t%C3%A2n-vi%E1%BB%87t-nam.jpg?s=612x612&w=0&k=20&c=nP_AjuhKAe0XMT8QbraEHGLqqYojzW4Dwc7nbCTRmFY=" alt="Ninh Binh Photo 8">
    <img src="https://media.istockphoto.com/id/1425103315/vi/anh/ng%C6%B0%E1%BB%9Di-ph%E1%BB%A5-n%E1%BB%AF-ch%C3%A2u-%C3%A1-m%E1%BA%B7c-v%C4%83n-h%C3%B3a-vi%E1%BB%87t-nam-truy%E1%BB%81n-th%E1%BB%91ng-t%E1%BA%A1i-tam-c%E1%BB%91c-vi%E1%BB%87t-nam.jpg?s=612x612&w=0&k=20&c=xZDKlDmMiYEv7r5z0KNgMYfEe19Ozr7s1JXc040TR0Y=" alt="Ninh Binh Photo 9">

</div>
</body>
</html>
