<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="nav-menu">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/news">News</a>
    <a href="/categories">Categories</a>
    <a href="/user">User List</a>
</div>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div>
    <img src="https://onevivu.vn/wp-content/uploads/2020/10/Du-lich-Tam-Coc-Ninh-Binh-6.jpg" alt="Banner" style="width:100%; height:auto;" />
</div>
</body>
</html>
